
.gist .render-container .render-viewer-error, .gist .render-container .render-viewer-fatal, .gist .render-container .octospinner {
    display: none;
}
.gist .gist-render iframe {
    width: 100%;
}
.gist pre {
    font: inherit;
    white-space: pre;
}
.gist .gist-file {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
}
.gist .gist-file.gist-render {
    border: medium none;
}
.gist .gist-file .gist-meta {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 10px;
}
.gist .gist-file .gist-meta a {
    font-weight: bold;
    text-decoration: none;
}
.gist .gist-file .gist-data {
    background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    font-size: 100%;
    overflow: auto;
    word-wrap: normal;
}
.gist .gist-file.scroll .gist-data {
    bottom: 30px;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
}
.gist .gist-file.scroll .gist-meta {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.gist .gist-file .gist-data .line-data {
    padding: 0.5em !important;
}
.gist .gist-file .gist-data .line-pre {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    margin: 0 !important;
    padding: 0 !important;
}
.gist .gist-file .gist-data .gist-highlight {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.gist .gist-file .gist-data .line-numbers {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 0.5em;
    text-align: right;
}
.gist .gist-file .gist-data .line-numbers .line-number {
    clear: right;
    display: block;
}
.gist-syntax {
    background: none repeat scroll 0 0 #FFFFFF;
}
.gist-syntax .c {
    color: #999988;
    font-style: italic;
}
.gist-syntax .err {
    background-color: #E3D2D2;
    color: #A61717;
}
.gist-syntax .k {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .o {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .cm {
    color: #999988;
    font-style: italic;
}
.gist-syntax .cp {
    color: #999999;
    font-weight: bold;
}
.gist-syntax .c1 {
    color: #999988;
    font-style: italic;
}
.gist-syntax .cs {
    color: #999999;
    font-style: italic;
    font-weight: bold;
}
.gist-syntax .gd {
    background-color: #FFDDDD;
    color: #000000;
}
.gist-syntax .gd .x {
    background-color: #FFAAAA;
    color: #000000;
}
.gist-syntax .ge {
    color: #000000;
    font-style: italic;
}
.gist-syntax .gr {
    color: #AA0000;
}
.gist-syntax .gh {
    color: #999999;
}
.gist-syntax .gi {
    background-color: #DDFFDD;
    color: #000000;
}
.gist-syntax .gi .x {
    background-color: #AAFFAA;
    color: #000000;
}
.gist-syntax .go {
    color: #888888;
}
.gist-syntax .gp {
    color: #555555;
}
.gist-syntax .gs {
    font-weight: bold;
}
.gist-syntax .gu {
    color: #AAAAAA;
}
.gist-syntax .gt {
    color: #AA0000;
}
.gist-syntax .kc {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .kd {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .kp {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .kr {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .kt {
    color: #445588;
    font-weight: bold;
}
.gist-syntax .m {
    color: #009999;
}
.gist-syntax .s {
    color: #DD1144;
}
.gist-syntax .na {
    color: #008080;
}
.gist-syntax .nb {
    color: #0086B3;
}
.gist-syntax .nc {
    color: #445588;
    font-weight: bold;
}
.gist-syntax .no {
    color: #008080;
}
.gist-syntax .ni {
    color: #800080;
}
.gist-syntax .ne {
    color: #990000;
    font-weight: bold;
}
.gist-syntax .nf {
    color: #990000;
    font-weight: bold;
}
.gist-syntax .nn {
    color: #555555;
}
.gist-syntax .nt {
    color: #000080;
}
.gist-syntax .nv {
    color: #008080;
}
.gist-syntax .ow {
    color: #000000;
    font-weight: bold;
}
.gist-syntax .w {
    color: #BBBBBB;
}
.gist-syntax .mf {
    color: #009999;
}
.gist-syntax .mh {
    color: #009999;
}
.gist-syntax .mi {
    color: #009999;
}
.gist-syntax .mo {
    color: #009999;
}
.gist-syntax .sb {
    color: #DD1144;
}
.gist-syntax .sc {
    color: #DD1144;
}
.gist-syntax .sd {
    color: #DD1144;
}
.gist-syntax .s2 {
    color: #DD1144;
}
.gist-syntax .se {
    color: #DD1144;
}
.gist-syntax .sh {
    color: #DD1144;
}
.gist-syntax .si {
    color: #DD1144;
}
.gist-syntax .sx {
    color: #DD1144;
}
.gist-syntax .sr {
    color: #009926;
}
.gist-syntax .s1 {
    color: #DD1144;
}
.gist-syntax .ss {
    color: #990073;
}
.gist-syntax .bp {
    color: #999999;
}
.gist-syntax .vc {
    color: #008080;
}
.gist-syntax .vg {
    color: #008080;
}
.gist-syntax .vi {
    color: #008080;
}
.gist-syntax .il {
    color: #009999;
}
